.align {
    display: flex;

    // & 상위선택자 + 하위선택자 표시
    // 다중클래스 (단일 클래스에 --붙는거랑 다르게 앞에 .이 있음!)
    &.both {
        justify-content: space-between;
    }
    &.left {
        justify-content: flex-start;
    }
    &.right {
        justify-content: flex-end;
    }
}