.main {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $black;
    
    &__container {
        max-width: rem(720);
        width: 100%;
        min-height: 100vh;   // 아니면 잘림!
        background-color: $base_black;
    }
}