// 폰트패밀리 로컬에서 업로드
@font-face {
    font-family: 'Happiness-Sans';
    src: url(../fonts/HappinessSansVF.woff2);
    font-style: normal;
}

body,
input,
textarea,
select,
button,
table {
  font-family: 'Happiness-Sans', sans-serif;
}

// rem 전환 :  px --> rem()
html { font-size: 62.5%;}
body { font-size: 1rem;}

// 텍스트 클래스 지정
.h1 { // song_title
  font-weight: 900;
  font-size: rem(24);
  line-height: rem(30);
  color: $base_white;
}
.h2 {
  font-weight: 900;
  font-size: rem(20);
  line-height: rem(25);
  color: $base_white;
}
.fs12 { // 태그, 타이틀 상세(컬러: 화이트), 플리카드 상세, 
  font-weight: 400;
  font-size: rem(12);
  line-height: rem(15);
  color: $base_black;
}

.fs14 { // 검색창 플레이스홀더
  font-weight: 400;
  font-size: rem(14);
  line-height: rem(17.5);
  color: $base_black;
  &-bold { // song_title
    font-weight: 700;
    font-size: rem(14);
    line-height: rem(17.5);
    color: $base_white;
  }
}

.fs16 { // 플리카드 - 플리제목
  font-weight: 700;
  font-size: rem(16);
  line-height: rem(24);
  color: $base_black;
}

.pretendard { // plyy_cmt, song_cmt
  font-weight: 400;
  font-size: rem(12);
  line-height: rem(20);
  text-align: justify;
  color: $base_black;
}
.fs20 { // 큐레이터 페이지
  font-weight: 400;
  font-size: rem(20);
  line-height: rem(25);
  color: $gray9;
  &-bold { // 큐레이터 페이지
    font-weight: 700;
    font-size: rem(20);
    line-height: rem(25);
    color: $base_white;
  }
}