// 색상
$white : #fff;
$black : #000;

$gray7 : #777777;
$gray9 : #999999;
$footer : #333333;

$base_black : #121212;
$base_white : #F5F5F5;
$base_orange : #F15A22;
$base_green : #8DD01A;
$base_blue : #22B9F1;


// 이미지 경로
$imgurl : '../images/';
