.badge {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
}
.badges {
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
}