.btn {
    &-logo {
        width: 86.48px;
        height: 36px;
        background: url(../images/btn_logo.svg) no-repeat center;  // style.css 파일 기준임으로 경로 지정에 주의!
    }
    &-bell {
        position: relative;
        width: rem(40);
        height: rem(40);
        background: url(../images/btn_bell.svg) no-repeat center;  // style.css 파일 기준임으로 경로 지정에 주의!
    }
    &-like {
        width: rem(40);
        height: rem(40);
        background: url(../images/btn_like.svg) no-repeat center;  // style.css 파일 기준임으로 경로 지정에 주의!
    }
    &-profile {
        width: rem(40);
        height: rem(40);
        background: url(../images/btn_profile.svg) no-repeat center;  // style.css 파일 기준임으로 경로 지정에 주의!
    }
}