.plyy_card_list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: rem(32);
    padding-bottom: rem(32);
    gap: rem(32);
    background-color: $background_color;
}
.plyy_card__info {
    display: inline-block;
    width: rem(326);
    height: rem(240);
    border-radius: rem(20);
    overflow: hidden;  
}
.plyy_card {
    &__thumb {
        position: relative;
        width: rem(326);
        height: rem(160);
        object-fit: cover;
        border-radius: rem(20), rem(20), 0px, 0px;
        border-bottom: rem(1);
        border-color: $basic_orange;
            .badge {
                @include position(left, rem(8), top, rem(8))
            }
            .green {
                width: rem(67);
            }
            .plyy_card__taglist {
                display: flex;
                justify-content: space-between;
                @include position(left, rem(13), bottom, rem(17))
            }
            .btn-plike__true {
                @include position(right, rem(16), bottom, rem(16))
            }
            .btn-plike__false {
                @include position(right, rem(16), bottom, rem(16))
            }
    }
    &__detail {
        width: rem(326);
        height: rem(80);
        padding: rem(16);
        border-top: rem(1);
        border-color: $basic_orange;
        background-color: $basic_white;
        box-sizing: border-box;
            &--title {
                margin-bottom: rem(9);
                font-weight: 700;
                font-size: rem(16);
                line-height: rem(24);
                color: $background_color;
            }
            &--cname, &--count {
                font-weight: 400;
                font-size: rem(12);
                line-height: rem(15);
                color: $background_color;
            }
    }
}