.search {
    display: flex;
    align-items: center;
    padding: 0 rem(16) 0 rem(16);
    height: rem(40);
    background-color: $background_color;
    .align {
        width: 100%;
    }
    // 검색어 입력 필드
    .search_input_box {
        width: rem(262);
        height: rem(40);
    }
    .search__input {
        width: 100%;
        height: (rem(40));
        // height: rem(18);
        padding: rem(10) rem(16);
        border-radius: rem(40);
        background-color: $basic_white;
        box-sizing: border-box;
        margin-right: rem(8);
    }
    // 검색 아이콘 필드
    .search_icon_group {
        width: rem(88);
    }
}
    // 추천 태그
.search_by_tag {
        width: 100%;
        height: rem(23);
        overflow-x: auto;
        white-space: nowrap;
        background-color: $background_color;
    li {
        display: inline;
        margin: 0 0 0 rem(8);
        padding: 0 rem(8) 0 rem(8);
        border-radius: rem(20);
        font-size:20px;
        background-color: $basic_white; opacity: 85%;
        box-sizing: border-box;
    }
    a {
        font-weight: 400;
        font-size: rem(12);
        line-height: rem(15);
        color: $background_color;
    }
}