.tab {
    // 메인화면 탭 : PLYY activated
    &-type1 {
        display: flex;
        padding: rem(8) auto rem(12);
        height: rem(45);
        border-bottom: rem(4) solid transparent;
        background: linear-gradient(to right, $background_color, $background_color) padding-box, linear-gradient(to right, #F54200, #F15A22, #F5F5F5, #22B9F1) border-box;
        // background: linear-gradient(to right, $background_color, $background_color) padding-box, linear-gradient(to right, #F3A78B, #F5F5F5, #22B9F1, #05B5F7) border-box;
        box-sizing: border-box;

        &--active > button {
            color: $basic_white;
        }
        &--inactive > button { 
            color: $inactive_gray; 
        }
        li {
            flex: 1;
        }
        a, button {
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: rem(20);
            line-height: rem(25);
            width: 100%;
            height: 100%;
            background-color: transparent;
            font-weight: 900;
        }
    }
    // 메인화면 탭 : CURATOR activated
    // border의 background만 바뀜.. JS로 컨트롤 할 수 있다면 굳이 컴포넌트화 할필요 없음
    &-type15 {
        display: flex;
        padding: rem(8) auto rem(12);
        height: rem(45);
        border-bottom: rem(4) solid transparent;
        // background: linear-gradient(to right, $background_color, $background_color) padding-box, linear-gradient(to right, #F54200, #F15A22, #F5F5F5, #22B9F1) border-box;
        background: linear-gradient(to right, $background_color, $background_color) padding-box, linear-gradient(to right, #F3A78B, #F5F5F5, #22B9F1, #05B5F7) border-box;
        box-sizing: border-box;

        &--active > button {
            color: $basic_white;
        }
        &--inactive > button { 
            color: $inactive_gray; 
        }
        li {
            flex: 1;
        }
        a, button {
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: rem(20);
            line-height: rem(25);
            width: 100%;
            height: 100%;
            background-color: transparent;
            font-weight: 900;
        }
    }
    // 메인화면에서 검색 이후 탭
    &-type2 {
        padding-left: rem(16);
        display: flex;
        height: rem(45);
        background-color: $background_color;
        border-bottom: rem(4) solid $basic_green;
        box-sizing: border-box;
        li {
            padding-left: 0;
            padding-right: rem(8);
            display: flex;
            align-items: center;
        }
        a, button {
            font-size: rem(20);
            color: $basic_white;
            background-color: transparent;
            font-weight: 900;
        }
    }
    // 검색창 하단 태그 탭 --> 이거 따로 빼야함
    &-type3 {
            width: 100%;
            height: rem(23);
            overflow-x: auto;
            white-space: nowrap;
            background-color: $background_color;
        li {
            display: inline-block;
            margin: 0 0 0 rem(8);
            padding: 0 rem(8) 0 rem(8);
            border-radius: rem(20);
            font-size:20px;
            background-color: $basic_white; opacity: 85%;
            box-sizing: border-box;
        }
        a {
            font-weight: 400;
            font-size: rem(12);
            line-height: rem(15);
            color: $background_color;
        }
    }
}