$basic_white : #F5F5F5;
$basic_green : #8DD01A;
$basic_orange : #F15A22;
$basic_blue : #22B9F1;

$inactive_gray : #777777;
$footer_gray : #333333;
$background_color : #121212;

// 이미지 경로
$imgurl : "../images/";

// LABEL : 플리카드 이미지 위의 NEW / UPDATE 라벨
// 클래스명, 둥근모서리, 높이, 폰트크기, 컬러, 보더컬러, 배경색, 패딩위아래
$badgeSetting :
    'green' 20 23 12 $background_color $basic_green $basic_green 4 1,
    'green' 20 23 12 $background_color $basic_green $basic_green 4 1
    ;
    
// TAGS : 플리카드 이미지 위의 태그리스트
// 클래스명, 둥근모서리, 높이, 폰트크기, 컬러, 보더컬러, 배경색, 패딩위아래
$badgesSetting :
'tag' 20 23 12 $background_color $background_color $basic_white 4 9,
'tag' 20 23 12 $background_color $background_color $basic_white 4 9
;

// BUTTONS : 각종 버튼들
// 클래스명, 높이, 패딩위아래, 패딩 좌우, 폰트사이즈, 배경색, 폰트색, 보더radius, 보더색
$buttonSetting :
'confirm' 41 8 8 20  $basic_green $background_color 40 $basic_green,
'cancel' 41 8 8 20  transparent $basic_white 40 $basic_green
;