<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
    <link rel="stylesheet" href="/static/css/style.css">
</head>
<body>
    <!-- 헤더 -->
    {% block header %}
    <header class="header">
        <div class="align both">
            <div><button class="btn-logo" aria-label="플리 로고" onclick="location.href='/'"></button></div>
            <div class="header__icon-group">
                <button class="btn-bell--default" aria-label="알림 없음"></button>
                <!-- <button class="btn-bell--new" aria-label="새로운 알림 있음"></button> -->
                <button id="like" class="btn-mylikes" aria-label="나의 좋아요"></button>
                {% if session['id'] %}
                    <!-- 로그인 상태일 때 -->
                    <button id="profile" class="btn-myprofile2" aria-label="내 프로필">
                        <img id="profile-img" src="" alt="내 프로필">
                    </button>
                {% else %}
                    <!-- 로그인 상태가 아닐 때 -->
                    <button id="profile" class="btn-myprofile2" aria-label="내 프로필"></button>
                {% endif %}
            </div>
        </div>
    </header>
    {% endblock %}

    <!-- 메인 -->
    <main class="main">
        <div class="main__container" id="main-container">
        {% block container %}
        
        <!-- 검색창 -->
        {% block search %}{% endblock %}
        
        <!-- 내용 -->
        {% block content %}{% endblock %}

        {% endblock %}
        </div>
    </main>
    
    <!-- 푸터 -->
    {% block footer %}
    <footer class="footer">
        <div>
            <div class="footer__img"></div>
        </div>
    </footer>
    {% endblock %}
    
    <!-- 검색 스크립트 -->
    {% block search_script %}{% endblock %}

    <!-- 스크립트 -->
    {% block script %}{% endblock %}

    <!-- 헤더 스크립트 -->
    {% block header_script %}
    <script>
        document.addEventListener('DOMContentLoaded', function() {
            // 세션에서 로그인 상태 확인
            let loggedIn = "{{ session['id'] }}"; // Flask 세션에서 로그인한 사용자 아이디 가져오기
            // 로그인 상태에 따라 링크 추가
            if (loggedIn === '' || loggedIn === 'None') {
                document.getElementById('profile').onclick = function() {
                    window.location.href = '/login'; // 로그인 페이지로 이동
                }
                document.getElementById('like').onclick = function() {
                window.location.href = '/login' //로그인 페이지로 이동
            }
            } else {
                document.getElementById('profile').onclick = function() {
                    window.location.href = '/mypage'; // 마이페이지로 이동
                }

                document.getElementById('like').onclick = function() {
                window.location.href = `/like/${loggedIn}`
                }

                // 프로필 이미지 동적으로 설정
                const profileImg = document.getElementById('profile-img');
                if (profileImg) {
                    const img = new Image();
                    img.src = `/static/cardimage/U${loggedIn}.jpg`;
                    img.onload = () => {
                        profileImg.src = img.src;
                        // console.log('Image exists');
                    };
                    img.onerror = () => {
                        profileImg.style.display = 'none'; // 이미지가 로드되지 않은 경우, 이미지 숨기기
                        // console.log('Image does not exist');
                    };
                }
            }
        });
    </script>
    {% endblock %}

    <!-- 푸터 스크립트 -->
    {% block footer_script %}{% endblock %}
</body>
</html>
