.plyy-card {
    display: flex;
    flex-direction: column;
    gap: rem(32);
    // 카드 상단
    &__top{
        position: relative;
        height: rem(160);
        border-radius: rem(20) rem(20) 0 0;
        border-bottom: 1px solid $base_orange;
        overflow: hidden;
        box-sizing: border-box;
        // 플리 이미지
        &__img {
            width: 100%;
            height: 100%;
            // border-radius: rem(20) rem(20) 0 0; // 위에서 overflow: hidden; 줬기 때문에 필요 없음. 이미지 변경 확인 후 삭제 필요.      
            object-fit: cover; // 이미지가 다소 잘리더라도 프레임 크기에 맞춰 조절
        }
        // NEW / UPDATE 라벨
        .green {
            @include position(left, rem(8), top, rem(8));
            width: rem(67);
        }
        // 태그 목록 (최대 2개 : 장르태그 1 + 일반태그 1)
        &__tag-list {
            @include position(left, rem(16), bottom, rem(16));
            max-width: vw(421);
            gap: rem(3);
            .badge {
                margin-right: rem(4);
                opacity: 85%;
            }
        }
        // 플리 좋아요 아이콘
        button {
            @include position(right, rem(16), bottom, rem(16));
            // width / height를 vw로 해놨기 때문에 창 크기에 따라 아이콘 크기도 줄어듦!
            // 개선점 : 왜 전체 이미지 크가기 작아지지 않고 겉에서 줄어들지?!
            width: rem(46);
            height: rem(46);
            border-radius: 100%;
            // border: 1px solid $base_orange;
        }
    }
    &__bottom {
        padding: rem(16);
        height: rem(80);
        border-radius: 0 0 rem(12) rem(12);
        border-top: 1px solid $base_orange; // plyy-card__top의 border-bottom과 중복되어 두껍게 보여질 경우, 삭제 필요
        background-color: $base_white;
        box-sizing: border-box;
        
        &__title {
            margin-bottom: rem(6);
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
        }
    }
}
// 큐레이터 카드
.curator-card {
    display: flex;
    flex-direction: column;
    gap: rem(32);
    // 카드 상단
    &__top{
        position: relative;
        height: rem(160);
        border-radius: rem(20) rem(20) 0 0;
        border-bottom: 1px solid $base_blue;
        overflow: hidden;
        box-sizing: border-box;
        // 플리 이미지
        &__img {
            width: 100%;
            height: 100%;
            // border-radius: rem(20) rem(20) 0 0; // 위에서 overflow: hidden; 줬기 때문에 필요 없음. 이미지 변경 확인 후 삭제 필요.      
            object-fit: cover; // 이미지가 다소 잘리더라도 프레임 크기에 맞춰 조절
        }
        // NEW / UPDATE 라벨
        .green {
            @include position(left, rem(8), top, rem(8));
            width: rem(67);
        }
        // 태그 목록 (최대 2개 : 장르태그 1 + 일반태그 1)
        &__tag-list {
            @include position(left, rem(16), bottom, rem(16));
            max-width: vw(421);
            gap: rem(3);
            .badge {
                margin-right: rem(4);
                opacity: 85%;
            }
        }
        // 큐레이터 좋아요 아이콘
        button {
            @include position(right, rem(16), bottom, rem(16));
            // width / height를 vw로 해놨기 때문에 창 크기에 따라 아이콘 크기도 줄어듦!
            // 개선점 : 왜 전체 이미지 크가기 작아지지 않고 겉에서 줄어들지?!
            width: rem(46);
            height: rem(46);
            border-radius: 100%;
            // border: 1px solid $base_orange;
        }
    }
    &__bottom {
        padding: rem(16);
        height: rem(80);
        border-radius: 0 0 rem(12) rem(12);
        border-top: 1px solid $base_blue; // plyy-card__top의 border-bottom과 중복되어 두껍게 보여질 경우, 삭제 필요
        background-color: $base_white;
        box-sizing: border-box;
        
        &__title {
            margin-bottom: rem(6);
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
        }
        &__intro{
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
        }
    }
}
