.login {
    padding: rem(50) rem(32);
    gap: rem(16);
    &__text {
        margin-bottom: rem(128);
        text-align: center;
    }
    &__input {
        margin-bottom: rem(16);
        display: grid;
        grid-template-columns: rem(80) 1fr;
        align-items: center;
        label {
            color: $base_white;
        }
    }
    &-btns {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        gap: rem(16);
        margin: rem(39) auto rem(80.5);
        button {
            width: 100%;
        }
    }
    &__welcome {
        margin: rem(128) auto rem(37.5) auto;
        text-align: center;
    }
    &__signup {
        display: block;
        // margin-bottom: rem(198);
        color: $base_white;
        text-align: center;
    }
}

.signup {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: rem(50) rem(32);
    gap: rem(16);
    &__text {
        margin-bottom: rem(128);
    }
    &__input {
        display: flex;
        flex-direction: column;
        width: 100%;
        label { 
            margin: 0 auto;
            color: $base_white;
        }
        input { 
            margin-top: rem(16);
            margin-bottom: rem(4);
            width: 100%;
        }
        p { color: $base_orange; }
        &--invalid {
            display: flex;
            flex-direction: column;
            width: 100%;
            label { 
                margin: 0 auto;
                color: $base_white;
            }
            input { 
                margin-top: rem(16);
                margin-bottom: rem(4);
                width: 100%;
                border: 2px solid $base_orange;
                box-sizing: border-box;
            }
            p { color: $base_orange; }
        }
        &--valid {
            display: flex;
            flex-direction: column;
            width: 100%;
            label { 
                margin: 0 auto;
                color: $base_white;
            }
            input { 
                margin-top: rem(16);
                margin-bottom: rem(4);
                width: 100%;
                border: 2px solid $base_green;
                box-sizing: border-box;
            }
            p { color: $base_green; }
        }
    }
    button { width: 100%; }
}