// 탭
.tab {
    &-type1 {
        margin: rem(32) rem(16);
        display: flex;
        height: rem(45);
        background-color: $base_black;
        border-bottom: rem(4) solid transparent;
        background: linear-gradient(to right, $base_black, $base_black) padding-box, linear-gradient(90deg, #F54200 2%, #F15A22 40%, #F5F5F5 70%, #22B9F1 100%) border-box;
        // 패딩과 높이가 공존하기 때문에 box-sizing: border-box;
        box-sizing: border-box;
        li {
            flex: 1; // display: flex;를 준 부모(ul)의 자식(li)을 1/n로 나눠준다.
        }
        a, button {
            display: flex;
            justify-content: center;
            align-items: center;
            // flex시 디폴트가 왼쪽정렬이기 때문에 수직.수평정렬 하려면 width 100% 필요
            width: 100%;
            height: 100%;
            background: transparent;
        }
        &--deactive {
            a, button {
                color: $gray7;
            }
        }
    }
    &-type2 {
        margin: rem(32) rem(16);
        display: flex;
        height: rem(45);
        background-color: $base_black;
        border-bottom: rem(4) solid transparent;
        background: linear-gradient(to right, $base_black, $base_black) padding-box, linear-gradient(90deg, #F3A78B 13.25%, #F5F5F5 26.5%, #22B9F1 60%, #05B5F7 95%) border-box;
        // 패딩과 높이가 공존하기 때문에 box-sizing: border-box;
        box-sizing: border-box;
        li {
            flex: 1; // display: flex;를 준 부모(ul)의 자식(li)을 1/n로 나눠준다.
        }
        a, button {
            display: flex;
            justify-content: center;
            align-items: center;
            // flex시 디폴트가 왼쪽정렬이기 때문에 수직.수평정렬 하려면 width 100% 필요
            width: 100%;
            height: 100%;
            background: transparent;
        }
        &--deactive {
            a, button {
                color: $gray7;
            }
        }
    }
    &-type3 {
        margin: auto rem(16) auto rem(16);
        height: rem(45);
        gap: rem(8);
        padding-left: rem(16);
        background-color: $base_black;
        border-bottom: rem(4) solid transparent;
        background: linear-gradient(to right, $base_black, $base_black) padding-box, linear-gradient(to right, $base_green, $base_green) border-box;
        // 패딩과 높이가 공존하기 때문에 box-sizing: border-box;
        box-sizing: border-box;
        a, button {
            display: flex;
            justify-content: center;
            align-items: center;
            // flex시 디폴트가 왼쪽정렬이기 때문에 수직.수평정렬 하려면 width 100% 필요
            height: 100%;
            background-color: transparent;
        }
    }
}

// 타이틀
.title {
    &-type1 {
        padding-bottom: rem(12);
        margin: rem(32) rem(16) auto rem(16);
        display: flex;
        justify-content: center;
        align-items: center;
        // 아니 nowrap을 했는데 왜 옆으로 안 삐져나가고 아래로 줄바꿈 되지?!?!
        flex-wrap: nowrap;
        margin-bottom: rem(8);
        // min-height: rem(45);
        text-align: center;
        background-color: $base_black;
        border-bottom: rem(4) solid transparent;
        background: linear-gradient(to right, $base_black, $base_black) padding-box, linear-gradient(90deg, #F3A78B 13.25%, #F5F5F5 26.5%, #F15A22 95%) border-box;
        // 패딩과 높이가 공존하기 때문에 box-sizing: border-box;
        box-sizing: border-box;
    }
    p {
        // 단어가 줄바꿈시에 잘리지 않도록 하는 속성 --> 테스트 필요!
        word-wrap: break-word;
    }
    &-type2 {
        padding-bottom: rem(16);
        border-bottom: rem(4) solid transparent;
        background: linear-gradient(to right, $base_black, $base_black) padding-box, linear-gradient(90deg, #97E3FF 13.25%, #F5F5F5 26.5%, #22B9F1 95%) border-box;
        box-sizing: border-box; 
        .align {
            height: rem(40);
        }
        &__info {
            margin: rem(11) auto rem(11) rem(8);
        }
        &__like {
            display: flex;
            justify-content: center;
            align-items: center;
            gap: rem(4);
            margin: rem(8) rem(8) rem(8) auto;
        }
        .fs14 {
            color: $base_white;
        }
    }
}
.plyy-info {
    margin: auto rem(16) auto rem(16);
    .fs12 {
        color: $base_white;
    }
}

