// 개별 아이콘, p 등 작업 필요. 현재는 피그마 이미지 파일 그대로 박아놓음

.footer_container {
    width: 100%;
    background-color: $footer_gray;
    .footer {
        @include bg('footer.svg');
        height: rem(191);
    }
}
